#search_bar {
   display: flex;
   flex-direction: column;
   gap: 30px;
   background-color: aquamarine;
   padding: 25px;
   position: sticky;
   top: 0px;
   overflow-y: auto;
    #pageNavigation {
        width: 100%;
        display: flex;
        align-items: center;
        button {
            &.greyOut {
                pointer-events: none;
                background-color: rgb(212, 210, 210);
                color: black;
                border: 1px solid black;
            }
        }
    }
}