#advanced_search {
    width: fit-content;
    height: 100%;
    background-color: #fff6de;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    h3 {
        margin: 0px;
    }

    #age_filters {
        display: flex;
        gap: 20px;
        input {
            width: 80px;
        }
    }

    .inputFilters {
        display: flex;
        flex-direction: column;
        label {
            font-weight: 500;
        }
        div {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
    #breeds {
        height: 60%;
        display: flex;
        flex-direction: column;
        gap: 0px;
        >label {
            font-weight: 500;
        }
        
        #breed-options {
            display: flex;
            flex-direction: column;
            gap: 1px;
            overflow-y: auto;
            height: 100%;
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 2px 2px 6px #0000004d;
            .labelCheck {
                display: flex;
                align-items: center;
                justify-content: space-between;
                label {
                    font-size: 14px;
                    color: black;
                    margin: 0px;
                    
                }
            }

        }
    }
    #inputZipCode{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .custom_chk {
        margin-left: 10px;
        input {
            display: none;
            &:active, &:focus {
                outline: none !important;
                // box-shadow: 2px 2px 4px #00000063;
            }
        }
        label {
            height: 13px;
            width: 13px;
            border: 1px solid grey;
            display: inline-block;
            position: relative;
            font-size: 15px !important;
        }
        input[type=checkbox]:checked + label:before {
            content: '\2714';
            font-size: 20px !important;
            color: var(--primary-contrast-dark);
            position: absolute;
            bottom: -8px;
            left: 0;
        }
        input[type=checkbox]:active + label, 
        input[type=checkbox]:focus + label,
        label:focus-visible
         {
            outline: none !important;
            box-shadow: 2px 2px 4px #00000063;
          }
    }
}