#advanced_search {
    width: 100%;
    height: 30%;
    #breeds-box {
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;

        .labelCheck {
            display: flex;
            align-items: center;
            justify-content: space-between;
            label {
                font-size: 12px;
                color: black;
                margin: 0px;
            }
        }
    }
}