#possible-results {
   color:black;
   flex: 1;

   background-color: #fff;
   height: 100%;
   #container_friends {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center ;
      height: calc(100% - 90px);
      #results_container { 
         display: flex;
         flex-wrap: wrap;
         align-items: start;
         justify-content: center;
         height: fit-content;
         gap: 20px;
         background-color: #fff;
         border-left: 1px solid var(--primary-color);
         padding: 30px;
         height: 100%;
         overflow-y: scroll;
         &.hide {
            display: none;
         }
      }
   }
}
