#root {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  .appBody {
    height: 100%;
    width: 100%;
    display: flex;
  }

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

